<%
div_class = (comment_counter % 2 == 0) ? 'even' : 'odd'
%>

<div class="<%=div_class%>">
  <div class="name comment">
    <div class="comment-name">
    	<% if comment.link %>
    	  <%= link_to comment.name, comment.link %>
    	<% else %>
    	  <%= comment.name %>
    	<% end %><span class="comment-date"><%= vague_timeago(comment.created_at) %></span>
    </div>
    
    <div class="body">
    	<%= comment.body %>
    </div>
    
  </div>
</div>