<!-- Band Block -->
<div class="alpha grid_12 band winner">
	
	<!-- Band Rank -->
	<div class="alpha grid_1 rank">
		#1
	</div>
	
	<!-- Band Info -->
	<div class="omega grid_11 name">
		<div class="grid_1 vote alpha">
			<div class="grid_1 up">
				<%= link_to '<span>Up</span>', up_band_path(band) %>
			</div>
			<div class="grid_1 down">
				<%= link_to '<span>Down</span>', down_band_path(band) %>
			</div>
		</div>
		
		<div class="omega grid_6 band-name">
			<%= link_to band.name, band_path(band) %> <span class="votes">(<%= band.num_votes_formatted %>)</span>
			<span class="comment-link">
			  <%= link_to band.comments.length.to_s + ' Comments', band_path(band) %>
			</span>
			<div class="grid_6 submitted">
				Submitted <%= vague_timeago(band.created_at) %>
			</div>
		</div>
		
		<div class="grid_1 vote omega direction">
			<div class="grid_1 up">
				<span><%= band.num_up_votes %> Up</span>
			</div>
			<div class="grid_1 down">
				<span><%= band.num_down_votes %> Down</span>
			</div>
		</div>
	</div>
					
</div>