<div class="grid_11 prefix_1">
  <%= link_to '&lt;&lt; Back to Bands', '/' %>
</div>

<div class="clearfix"></div>

<div class="alpha rank grid_1">
  #<%= @band.rank %>
</div>

<div class="grid_11 band-name">
  <h1><%= @band.name %> <small> -- <%= @band.num_votes %></small> votes</h1>
</div>

<div class="grid_11 prefix_1 clearfix">
  <% if @band_image.length != 0 %>
    <div class="img-left">
      <%= image_tag @band_image %>
    </div>
  <% end %>
  
  <% if @band_desc.length != 0 %>
    <div class="band-desc">
      <%= @band_desc %>
    </div>
  <% end %>
</div>

<div class="grid_11 prefix_1 band-name">
  <h1 class="comments">Comments <small><%= @band.comments.length %> so far</small></h1>
  
  <% if @band.comments.length == 0 %>
    <i class="small">Be the first to comment by filling out the form below</i>
  <% end %>
  
  <%= render :partial => 'comment', :collection => @comments %>
  
  <h1 class="comments">Add a Comment</h1>
  
  <div class="comment-form-container">
    <% form_for @band.comments.new, :url => band_comments_path(@band) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
      <%= f.submit "Comment!" %>
    <% end %>
  </div>
</div>